*node_modules*
*/dist/*
packages/igrp-wf-engine/dist/tsconfig.tsbuildinfo
packages/igrp-wf-engine/dist/cjs/tsconfig.tsbuildinfo
packages/igrp-wf-engine/dist/esm/tsconfig.esm.tsbuildinfo
packages/igrp-wf-engine/dist/src/index.d.ts
packages/igrp-wf-engine/dist/src/index.js
packages/igrp-wf-engine/dist/src/core/processManager.d.ts
packages/igrp-wf-engine/dist/src/core/processManager.js
packages/igrp-wf-engine/dist/src/core/templates.d.ts
packages/igrp-wf-engine/dist/src/core/templates.js
packages/igrp-wf-engine/dist/src/core/workflowWorkspace.d.ts
packages/igrp-wf-engine/dist/src/core/workflowWorkspace.js
packages/igrp-wf-engine/dist/src/types/index.d.ts
packages/igrp-wf-engine/dist/src/types/index.js
packages/igrp-wf-engine/dist/src/utils/fileSystem.d.ts
packages/igrp-wf-engine/dist/src/utils/fileSystem.js
packages/igrp-wf-engine/dist/src/utils/logger.js
packages/igrp-wf-studio-ui/dist/index.html
packages/igrp-wf-studio-ui/dist/assets/DecisionEditorModal-C1ehfiVY.js
packages/igrp-wf-studio-ui/dist/assets/EditorService-igVy1boo.js
packages/igrp-wf-studio-ui/dist/assets/FormEditorModal-BQ22QOGz.js
packages/igrp-wf-studio-ui/dist/assets/index-Bmfokd27.css
packages/igrp-wf-studio-ui/dist/assets/index-DXmdwVQ_.js

.env
.env.local
.env.development
.env.production
.env.test
packages/igrp-wf-engine/dist/cjs/index.d.ts
packages/igrp-wf-engine/dist/cjs/index.d.ts.map
packages/igrp-wf-engine/dist/cjs/index.js
packages/igrp-wf-engine/dist/cjs/index.js.map
packages/igrp-wf-engine/dist/cjs/tsconfig.tsbuildinfo
packages/igrp-wf-engine/dist/cjs/core/processManager.d.ts
packages/igrp-wf-engine/dist/cjs/core/processManager.d.ts.map
packages/igrp-wf-engine/dist/cjs/core/processManager.js
packages/igrp-wf-engine/dist/cjs/core/processManager.js.map
packages/igrp-wf-engine/dist/cjs/core/templates.d.ts
packages/igrp-wf-engine/dist/cjs/core/templates.d.ts.map
packages/igrp-wf-engine/dist/cjs/core/templates.js
packages/igrp-wf-engine/dist/cjs/core/templates.js.map
packages/igrp-wf-engine/dist/cjs/core/workflowWorkspace.d.ts
packages/igrp-wf-engine/dist/cjs/core/workflowWorkspace.d.ts.map
packages/igrp-wf-engine/dist/cjs/core/workflowWorkspace.js
packages/igrp-wf-engine/dist/cjs/core/workflowWorkspace.js.map
packages/igrp-wf-engine/dist/cjs/types/index.d.ts
packages/igrp-wf-engine/dist/cjs/types/index.d.ts.map
packages/igrp-wf-engine/dist/cjs/types/index.js
packages/igrp-wf-engine/dist/cjs/types/index.js.map
packages/igrp-wf-engine/dist/cjs/utils/fileSystem.d.ts
packages/igrp-wf-engine/dist/cjs/utils/fileSystem.d.ts.map
packages/igrp-wf-engine/dist/cjs/utils/fileSystem.js
packages/igrp-wf-engine/dist/cjs/utils/fileSystem.js.map
packages/igrp-wf-engine/dist/cjs/utils/logger.d.ts
packages/igrp-wf-engine/dist/cjs/utils/logger.d.ts.map
packages/igrp-wf-engine/dist/cjs/utils/logger.js
packages/igrp-wf-engine/dist/cjs/utils/logger.js.map
packages/igrp-wf-engine/dist/esm/index.js
packages/igrp-wf-engine/dist/esm/index.js.map
packages/igrp-wf-engine/dist/esm/tsconfig.esm.tsbuildinfo
packages/igrp-wf-engine/dist/esm/core/processManager.js
packages/igrp-wf-engine/dist/esm/core/processManager.js.map
packages/igrp-wf-engine/dist/esm/core/templates.js
packages/igrp-wf-engine/dist/esm/core/templates.js.map
packages/igrp-wf-engine/dist/esm/core/workflowWorkspace.js
packages/igrp-wf-engine/dist/esm/core/workflowWorkspace.js.map
packages/igrp-wf-engine/dist/esm/types/index.js
packages/igrp-wf-engine/dist/esm/types/index.js.map
packages/igrp-wf-engine/dist/esm/utils/fileSystem.js
packages/igrp-wf-engine/dist/esm/utils/fileSystem.js.map
packages/igrp-wf-engine/dist/esm/utils/logger.js
packages/igrp-wf-engine/dist/esm/utils/logger.js.map
packages/igrp-wf-engine/dist/types/index.d.ts
packages/igrp-wf-engine/dist/types/index.d.ts.map
packages/igrp-wf-engine/dist/types/core/processManager.d.ts
packages/igrp-wf-engine/dist/types/core/processManager.d.ts.map
packages/igrp-wf-engine/dist/types/core/templates.d.ts
packages/igrp-wf-engine/dist/types/core/templates.d.ts.map
packages/igrp-wf-engine/dist/types/core/workflowWorkspace.d.ts
packages/igrp-wf-engine/dist/types/core/workflowWorkspace.d.ts.map
packages/igrp-wf-engine/dist/types/types/index.d.ts
packages/igrp-wf-engine/dist/types/types/index.d.ts.map
packages/igrp-wf-engine/dist/types/utils/fileSystem.d.ts
packages/igrp-wf-engine/dist/types/utils/fileSystem.d.ts.map
packages/igrp-wf-engine/dist/types/utils/logger.d.ts
packages/igrp-wf-engine/dist/types/utils/logger.d.ts.map
packages/igrp-wf-studio-ui/dist/index.html
packages/igrp-wf-studio-ui/dist/assets/DecisionEditorModal-Cdh6LcBT.css
packages/igrp-wf-studio-ui/dist/assets/DecisionEditorModal-XTdlkCHl.js
packages/igrp-wf-studio-ui/dist/assets/DecisionEditorModal-XTdlkCHl.js.map
packages/igrp-wf-studio-ui/dist/assets/dmn-2EwrEScy.eot
packages/igrp-wf-studio-ui/dist/assets/dmn-C1MJkcxp.woff2
packages/igrp-wf-studio-ui/dist/assets/dmn-CZEeTUkz.woff
packages/igrp-wf-studio-ui/dist/assets/dmn-DfnSe8DY.ttf
packages/igrp-wf-studio-ui/dist/assets/dmn-eH1_eUsy.svg
packages/igrp-wf-studio-ui/dist/assets/EditorService-CcZzGhgg.js
packages/igrp-wf-studio-ui/dist/assets/EditorService-CcZzGhgg.js.map
packages/igrp-wf-studio-ui/dist/assets/FormEditorModal-C5QU_lAH.js
packages/igrp-wf-studio-ui/dist/assets/FormEditorModal-C5QU_lAH.js.map
packages/igrp-wf-studio-ui/dist/assets/index-BkH93H9s.css
packages/igrp-wf-studio-ui/dist/assets/index-BvI4Eu6t.js
packages/igrp-wf-studio-ui/dist/assets/index-BvI4Eu6t.js.map
packages/igrp-wf-studio-ui/dist/assets/index-BwatKj1Q.js
packages/igrp-wf-studio-ui/dist/assets/index-CPjWxWLZ.css
packages/igrp-wf-studio-ui/dist/assets/index-D-8ottbP.css
packages/igrp-wf-studio-ui/dist/assets/index-QoYbqDR_.js
packages/igrp-wf-studio-ui/dist/assets/vendor-bpmn-Bucg4okW.js
packages/igrp-wf-studio-ui/dist/assets/vendor-bpmn-Bucg4okW.js.map
packages/igrp-wf-studio-ui/dist/assets/vendor-mui-BDzUHCNz.js
packages/igrp-wf-studio-ui/dist/assets/vendor-mui-BDzUHCNz.js.map
packages/igrp-wf-studio-ui/dist/assets/vendor-react-wUsf9DJz.js
packages/igrp-wf-studio-ui/dist/assets/vendor-react-wUsf9DJz.js.map
