*node_modules*
*/dist/*
packages/igrp-wf-engine/dist/tsconfig.tsbuildinfo
packages/igrp-wf-engine/dist/cjs/tsconfig.tsbuildinfo
packages/igrp-wf-engine/dist/esm/tsconfig.esm.tsbuildinfo
packages/igrp-wf-engine/dist/src/index.d.ts
packages/igrp-wf-engine/dist/src/index.js
packages/igrp-wf-engine/dist/src/core/processManager.d.ts
packages/igrp-wf-engine/dist/src/core/processManager.js
packages/igrp-wf-engine/dist/src/core/templates.d.ts
packages/igrp-wf-engine/dist/src/core/templates.js
packages/igrp-wf-engine/dist/src/core/workflowWorkspace.d.ts
packages/igrp-wf-engine/dist/src/core/workflowWorkspace.js
packages/igrp-wf-engine/dist/src/types/index.d.ts
packages/igrp-wf-engine/dist/src/types/index.js
packages/igrp-wf-engine/dist/src/utils/fileSystem.d.ts
packages/igrp-wf-engine/dist/src/utils/fileSystem.js
packages/igrp-wf-engine/dist/src/utils/logger.js
packages/igrp-wf-studio-ui/dist/index.html
packages/igrp-wf-studio-ui/dist/assets/DecisionEditorModal-C1ehfiVY.js
packages/igrp-wf-studio-ui/dist/assets/EditorService-igVy1boo.js
packages/igrp-wf-studio-ui/dist/assets/FormEditorModal-BQ22QOGz.js
packages/igrp-wf-studio-ui/dist/assets/index-Bmfokd27.css
packages/igrp-wf-studio-ui/dist/assets/index-DXmdwVQ_.js

.env
.env.local
.env.development
.env.production
.env.test
